<div class="search-div">
    <button color="primary" mat-raised-button (click)="onCreate()">
       New Order   <!--  <mat-icon>Create</mat-icon> -->
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <!-- <button mat-button mat-suffix mat-icon-button aria-label="Clear">
            <mat-icon>Close</mat-icon>
        </button> -->
        <!-- <button mat-button mat-suffix mat-icon-button aria-label="Clear" *ngIf="searchKey">X</button> -->
        
    </mat-form-field>
</div>

<div class="mat-elevation-z8">
<mat-table [dataSource]="listData" matSort>
   <ng-container matColumnDef="orderId">
       <mat-header-cell *matHeaderCellDef mat-sort-header>Order Id</mat-header-cell>
       <mat-cell *matCellDef="let element">{{element.orderId}}</mat-cell>
   </ng-container>

   <ng-container matColumnDef="orderName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Order Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.orderName}}</mat-cell>
   </ng-container>

   <ng-container matColumnDef="orderDescription">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Order Description</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.orderDescription}}</mat-cell>
   </ng-container>

    <ng-container matColumnDef="orderAmount">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Order Amount</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.orderAmount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="deliveryAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Address</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.deliveryAddress}}</mat-cell>
        </ng-container>

    <ng-container matColumnDef="emailID">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.emailID}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mobileNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.mobileNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button  color="primary" mat-raised-button (click)="onEdit(row)">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button  color="warn" mat-raised-button (click)="onDelete(row)">Delete</button>
            <!-- <button mat-icon-button><mat-icon>Edit</mat-icon></button> -->
            <!-- <button mat-icon-button color="warn"><mat-icon>Delete</mat-icon></button> -->
        </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10,25,100]" showFirstLastButtons></mat-paginator> 
</div>