<form [formGroup]="service.form" class="normal-form">
    <mat-grid-list cols="1" rowHeight="300px">
        <mat-grid-tile>
            <div class="controls.container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input formControlName="orderName" matInput>
                </mat-form-field>
                <mat-form-field>
                    <input  formControlName="description" matInput>
                </mat-form-field>
                <mat-form-field>
                    <input  formControlName="amount" matInput>
                </mat-form-field>
            </div>   
        </mat-grid-tile>
        
      </mat-grid-list>
</form>
