<mat-toolbar>
    <span>
        {{service.form.controls['$key'].value?"Update Order":"New Order"}}
    </span>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controls-container">
             <input type="hidden" formControlName="$key"> 
                <mat-form-field>
                    <input formControlName="orderName" placeholder="Order Name" matInput>
                    <mat-error *ngIf="service.form.controls['orderName'].errors?.required">Order Name is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input  formControlName="orderDescription" placeholder="Order Description"matInput>
                </mat-form-field>
                <mat-form-field>
                    <input  formControlName="orderAmount" placeholder="Order Amount" matInput>
                   <mat-error *ngIf="service.form.controls['orderAmount'].errors?.required">Amount is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input  formControlName="emailID" placeholder="Email ID"matInput>
                </mat-form-field>
                </div>
                </mat-grid-tile>
                <mat-grid-tile>
                <div class="controls-container">
                <mat-form-field>
                    <input  formControlName="mobileNumber" placeholder="Mobile Number"matInput>
                    <mat-error *ngIf="service.form.controls['mobileNumber'].errors?.required">Mobile Number is mandatory</mat-error>
                    <mat-error *ngIf="service.form.controls['mobileNumber'].errors?.minlength">Minimum 10 digits needed</mat-error>
                    <mat-error *ngIf="service.form.controls['mobileNumber'].errors?.maxlength">Maximum 10 digits needed</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input  formControlName="deliveryAddress" placeholder="Delivery Address"matInput>
                </mat-form-field> 
                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">{{service.form.controls['$key'].value?"Update":"Save"}}</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>
            </mat-grid-tile>
      </mat-grid-list>
</form>
